{% extends 'teams/base.html' %}
{% load static %}
{% block title %}
 Select Home and Away
{% endblock title %}

{% block content %}
  

<form action="{% url 'print_winners' %}" method="POST">
    {% csrf_token %}
    Select Week:
    <select name="week_number" id="week_number">
        
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
        <option value=11>11</option>
        <option value=12>12</option>
        <option value=13>13</option>
        <option value=14>14</option>
        <option value=15>15</option>
        <option value=17>17</option>
        <option value=18>18</option>
        <option value=19>19</option>
        <option value=20>20</option>
        
        
    </select>

    Select Player:
    
    <select name="player" id="player">
        
        <option value="Renee">Renee</option>
        <option value="Mr. C">Mr. C</option>
        <option value="Tiara">Tiara</option>

    </select>
    Total Points: &nbsp;
    <input type="text" name="total_points" placeholder="Please enter your Total Points.">
    <button type = 'submit' >Submit</button>
    
</form>


{% endblock content %}
