<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'select_week' %}">Weekly Football Pick</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'winner' %}">Pick your winners<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'select_week' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'select_week' %}">Generate weekly schedule</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'list' %}">List Winners</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'pick_week' %}">Pick Week to Print            
          </a>
        </li>
       
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          {% else %}
          
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          
          {% endif %}
        </li>
        {% comment I do not think I will need a Dropdown %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        {% endcomment %}
      </ul>
      {% comment Search form is not needed. %}
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% endcomment %}
    </div>
  </nav>
  