{% extends 'teams/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
  
{% block content %} 
 {% if user.is_authenticated %} 
  Hello {{ user.username }}!
 {% else %}
  Please <a href="{% url 'account_login' %}">
    Login</a>
    or <a href="{% url 'account_signup' %}">Register</a> for a new account.
 {% endif %} 
  <div class="container2">
    <div>
        <ul>
            {% for home in home_aways %}
                {% ifchanged %}
                    <h4>
                        <div>
                            <a href="{% url 'print_week' home.week_number %}">
                                <li>
                                    Select week number {{ home.week_number }} to print.
                                    <label for ='week'> Select a week:</label>
                                </li>
                                  
                                
                            </a>
                        </div>
                    </h4>
                {% endifchanged %} 
            {% endfor %} 
        </ul>
    </div>  
    
    <div class="center" >
        <ul>
            {% for home in home_aways %}
                {% ifchanged %}
                    <h4>
                    <div>
                        <a href="{% url 'print_week' home.week_number %}">
                            <li>
                                Print winners selected in week number{{ home.week_number }}.
                            </li>
                        </a>
                    </div>
                    </h4>
                {% endifchanged %} 
            {% endfor %} 
        </ul>
    </div>  
    
  </div>
{% endblock%}


