{% extends 'teams/base.html'%}
{% block title %}
  Winner List
{% endblock title %}

{% block content %}
 <table>
    <tr>
        <th>Week Number</th>
        <th>Year</th>
        <th>Player</th>
        <th>Away Team</th>
        <th>Home Team</th>
        <th>Away Score</th>
        <th>Home Score</th>
        <th>Selected Team</th>
        <th>Status</th>
        <th>Update</th>
    </tr>    
  {% for winner in list %}
    <tr>   
       <td class = 'center'> {{ winner.week_number }}</td>
       <td class = 'center'>{{ winner.year }}</td>
       <td class = 'center'>{{ winner.player}}</td>
       <td class = 'center'>{{ winner.away }}</td>
       <td class = 'center'>{{ winner.home }}</td>
       <td class = 'center'>{{winner.away_score }}</td>
       <td class = 'center'> {{winner.home_score }}</td>
       <td class = 'center'>{{winner.selected_pick }}</td>
       <td class = 'center'>{{ winner.status }}</td>
       <td class = 'center'><a href="{% url 'update' winner.id %}">Update</a> | <a href="{% url 'winnerPickNew' winner.id %}">New Player</a></td>
    </tr>    
    {% endfor %}
 </table>  
   
 
{% endblock content %}