{% extends 'football/base.html' %}
{% block title %}
{% endblock %}
{% block content%}
  Testing - To be deleted before putting on line.
  <form id='frm1' action="{% url 'testing' %}">
   First name: <input type="text" id="fname" name="fname">
   Last name:  <input type="text" id="lname" name="lname">
   <input type="button" onclick="myFunction();" value="submit">

  </form>
  <script>

    function myFunction(){
        document.getElementById('frm1').submit();
    }
  </script>

{% endblock %}